{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Menu bar at top (for things that are always the same?) -->


<nav class = "navbar navbar-default">
    <div class = "container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Casework Club</a>
        </div>
        
        <ul class = "nav navbar-nav">
            <li> <a href = "#"> My Cases </a></li>
        <li> 
        
        {% if user.is_authenticated %}
            <a href = "{% url 'logout' %}">Log out {{user.get_full_name}}</a>

        {% else %}
            <a href = "{% url 'login' %}">Log In</a>

        {% endif %}
        </li>
        <li>
        {{user.association}}
        </li>


        </ul>
    </div>

    <!--    <img src="{% static 'caseworkclub/NickTorchLogo.jpg' %}" -->
</nav>

<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-1">
            This <p> will <p> be <p> the <p> side <p> menu.
            <!-- Side menu (for things that change? some standard, then the django block?) -->
        </div>

        <div class = "col-md-11" style="height:100%; overflow-y: auto;">
            {% block main %}
            {% endblock %}


        </div>

    </div>
</div>
