{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Menu bar at top (for things that are always the same?) -->

<div class = "container-fluid">
    <div class = "row">

        <div class = "col-md-1">
            <img src="{% static 'caseworkclub/NickTorchLogo.jpg' %}">
        </div>


        <div class = "col-md-11">

            <div class="btn-group">
                <button type="button" class="btn btn-primary">My Cases</button>
                <button type="button" class="btn btn-primary">{{user.get_full_name}}</button>
                <button type="button" class="btn btn-primary">Log Out</button>
            </div>
        </div>





    </div>
    <div class = "row">
        <div class = "col-md-1">
            This <p> will <p> be <p> the <p> side <p> menu.
            <!-- Side menu (for things that change? some standard, then the django block?) -->
        </div>

        <div class = "col-md-11" style="height:100%; overflow-y: auto;">
            {% block main %}
            {% endblock %}


        </div>

    </div>
</div>
