{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Menu bar at top (for things that are always the same?) -->


<nav class = "navbar navbar-default">
    <div class = "container-fluid">
        <div class="navbar-header">
            <a class="navbar-left" href="#"> <img alt = "Casework Club" src="{% static 'caseworkclub/NickTorchLogo.jpg' %}"class="img-responsive"></a>
        </div>
        
        <ul class = "nav navbar-nav">
        
        {% if user.is_authenticated %}
            <li> 
                <a href = "{% url 'cases' user.username %}">My Cases</a>
            </li>

            <li>
                <a href="{% url 'association' user.association%}">{{user.association}}</a>
            </li>

            <li> 
                <a href = "{% url 'logout' %}">Log out {{user.get_full_name}}</a>
            </li>

        {% else %}
            <li>
                <a href = "{% url 'login' %}">Log In</a>
            </li>
        {% endif %}

        </ul>
    </div>

</nav>

<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-2">
            <!-- Side menu (for things that change? some standard, then the django block?) -->
            <div class="btn-group-vertical">
                <a href="{% url 'newcase' %}" class="btn btn-default">New Case</a>
                <a href="{% url 'create' %}" class="btn btn-default">New Note</a>
                
                <a href="#" class="btn btn-default">New Task</a>
                {% block side %}
                {% endblock %}
            </div>
        </div>

        <div class = "col-md-10" style="height:100%; overflow-y: auto;">
            {% block main %}
            {% endblock %}


        </div>

    </div>
</div>
