{% extends 'caseworkclub/base.html' %}


{% block main %}


Case: {{object.id}} <a href="">{{object.caseworker.full_name}}</a> - <a href="">{{object.caseworker.association}}</a><br>
<a href="">{{object.member.full_name}}</a>()<br>
<a href="">{{object.workplace}}</a>(<a href="">{{object.workplace}}</a>)<br>
Types: <br>
{% for type in object.caseworktypes.all %}
{{type.typename}}<br>
{% endfor %}

{% for note in object.notes %}

<div class="well">
    {{note.timestamp}}<br>
        {{note.notetype}}: {{note.contact}}<br>
    {{note.text}}

</div>

{% endfor %}

{% endblock %}
