<title>{{user_to_view.full_name}} - Open Cases </title>

Open cases for {{user_to_view.full_name}}:

{% for case in object.open_cases %}

<ul>

    <li> 
        <a href="{% url 'case' case.id %}">{{case.member.full_name}}</a> {{case.member.membership_number}}
       
        (<a href="{% url 'cases' case.caseworker.username %}">{{case.caseworker.full_name}}</a>)
        <p>
        {%for type in case.caseworktypes.all%}       
        {{type.typename}}<br>
        {% endfor%}
    </li>

</ul>
{% endfor %}
