{% extends 'caseworkclub/base.html' %}

{% load humanize %}

{% block main %}


Case ID:
{{object.id|stringformat:"05d"}} <br>
<a href="{% url 'member' object.member.membership_number %}">{{object.member.membership_number}} {{object.member.full_name}}</a>

<br>


<a href="">{{object.workplace}}</a> - <a href="">{{object.workplace.employer}}</a>

<br>
Opened: {{object.opened}} 

<p>



Types:

{% for type in object.caseworktypes.all %}
{{type.typename}}
{% endfor %}
<br>
Caseworker: <a href="{% url 'cases' object.caseworker.username%}">{{object.caseworker.full_name}}</a><br>
<p>




    
    <div class="panel-group">

{% for note in object.notes %}
        <div class="panel panel-default">
            <div class="panel-heading">{{note.notetype}}: {{note.contact}}</div>
            <div class="panel-body">{{note.text}}</div>
            <div class="panel-footer">{{note.timestamp}}</div>

        </div>
{% endfor %}
    </div>




{% endblock %}
