{% extends 'caseworkclub/base.html' %}
{% block main %}
<title>{{user_to_view.full_name}} - Tasks </title>


<div class="panel-group">

{% for task in object.open_tasks %}
    <div class = "panel panel-default">
        <div class="panel-heading">{{task.tasktype}} {{task.contact}}
            <button type="button" class="btn btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                
            </button>
        </div>




        <div class="panel-body">{{task.text}}</div>
        <div class="panel-footer">{{task.settime}}</div>
    </div>

{% endfor %}
</div>



{% endblock %}

